img {
  max-width: 100%;
  max-height: 100%;
}

.badge {
  padding: 5px 8px;
  font-size: 11px;
  line-height: 10px;
  right: 6px;
  left: auto;
  top: 5px;
  background-color: #426a9c;
}

.match {
  width: 100%;
}

.match_head img {
  height: 150px;
}

.match_teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.match_teams:nth-child(2n + 1) {
  background-color: #162034;
}

.match_team__info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  width: 33.333333%;
}

.match_team__info span {
  font-size: 12px;
  color: #ffffff;
}

.match_team__info img {
  width: 60px;
  margin-bottom: 10px;
}

.match-no {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #a3ff12;
}

.match-vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.match-vs_tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}

.match-vs_vs {
  font-size: 24px;
  font-weight: 700;
  color: #a3ff12;
  margin-bottom: 15px;
}

.match-vs_vs small {
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
}

.match-vs_time {
  font-size: 24px;
  font-weight: 700;
  color: #a3ff12;
  margin-bottom: 15px;
}

.match-vs_live {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.match-vs_date {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.match_info {
  padding-bottom: 4px;
  clear: both;
  font-size: 14px;
  color: #fff;
  line-height: normal;
  font-family: Montserrat,sans-serif;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.tabs {
  background-color: #141720;
  box-shadow: 0px 0px 1px 0px #a2fd1b;
}

.tabs ion-tab-button {
  background-color: transparent;
  position: relative;
}

.tabs ion-tab-button[aria-selected="true"] {
  color: #a3ff12;
}

.tabs ion-tab-button:after {
  position: absolute;
  content: '';
  width: 2px;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(-1px);
  transform: translate(50%,-50%);
  ion-contentght: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.tabs ion-tab-button:last-child:after {
  display: none;
}

.tabs ion-label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: monospace;
}

.tabs ion-icon {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
}

.toolbar-bg{
  --background: #141720;
  --color: #fff;
  box-shadow: 0px 0px 3px 0px #a2fd1b;
}

.header-button {
  --color: #fff;
  font-size: 25px;
}

.content-bg {
  --background: #151720;
}

.main_menu {
  --width: 90%;
}

.menu-toolbar {
  --background: #141720;
  --color: #fff;
  text-align: center;
}

.list-md {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
}

.header-login-button {
  color: #fff;
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-toolbar-item {
  --background: transparent;
  --color: #fff;
  --border-color: #3a3c3d;
}

.menu-toolbar-item > button {
  width: 100%;
  height: 100%;
  text-align: left;
}

.menu-toolbar-item > button span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.content-offset {
  --padding-top: 56px;
}

.menu-icons {
  vertical-align: middle;
  font-size: 30px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.content-tab-offset {
  padding-top: 56px;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px
}

.head-title {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 10vw;
  text-shadow: 1px 1px 5px rgba(243, 243, 243, 0.6);
}

.head-title small {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.rating {
  padding-top: 5px;
}

.rating .rating_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f2f2f2;
  padding: 10px 15px;
  background-color: #162034;
  margin-bottom: 5px;
  font-weight: 300;
}

.rating .rating_block div:first-child {
  flex-shrink: 1;
  width: 30px;
  text-align: center;
  opacity: .4;
}

.rating .rating_block div:nth-child(2) {
  flex-grow: 1;
  text-align: left  ;
}

.rating .rating_block div:last-child {
  flex-shrink: 1;
}

.rating .rating_block:nth-child(1) {
  background-color: rgba(255, 215, 0, 0.3);
}

.rating .rating_block:nth-child(2) {
  background-color: rgba(192, 192, 192, 0.3);
}

.rating .rating_block:nth-child(3) {
  background-color: rgba(205, 127, 50, 0.3);
}

.rating .rating_block:nth-child(1) div:first-child {
  color: gold;
  opacity: 1;
}

.rating .rating_block:nth-child(2) div:first-child {
  color: silver;
  opacity: 1;
}

.rating .rating_block:nth-child(3) div:first-child {
  color: #cd7f32;
  opacity: 1;
}

.streams {
  padding-top: 5px;
}

.streams-block {
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
  padding: 10px 15px;
  background-color: #162034;
  margin-bottom: 5px;
  font-weight: 300;
}

.streams-block div:first-child {
  width: 50%;
  flex-shrink: 0;
}

.streams-block div:first-child img {
  border: 2px solid rgba(66, 106, 156, 0.55);
}

.streams-block div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  font-weight: 300;
  flex-grow: 1;
  justify-content: space-around;
  padding-left: 10px;
}

.streams-block div:last-child h4 {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.streams-block div:last-child p {
  height: 33px;
  font-size: 9px;
  line-height: 11px;
  overflow: hidden;
  color: #8c8c8c;
  text-align: left;
}

.streams-block div:last-child span {
  font-size: 12px;
  color: #f2f2f2;
}

.streams-block div:last-child span img {
  width: 13px;
  display: inline-block;
  vertical-align: middle;
}

ion-content {
  --background: #2b2b2b;
}


.tabs-style {
  --background: #2b2b2b;
}

.tabs-style ion-tab-button {
  background-color: transparent;
  position: relative;
}

.tabs-style ion-tab-button:after {
  position: absolute;
  content: '';
  width: 2px;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(-1px);
  transform: translate(50%,-50%);
  height: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.tabs-style ion-tab-button:last-child:after {
  display: none;
}

.tabs-style ion-label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: monospace;
}

.tabs-style ion-icon {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
}

.vue-tablist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.vue-tab {
  width: 30%;
  background-color: #a3ff12;
  padding: 10px 5px;
  color: #151720;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.vue-tab[aria-selected="true"] {
  background-color: #151720;
  color: #a3ff12;
}

.vue-tabpanel {
  margin-top: -1px;
}

ion-item {
  --background: transparent;
  --handle-background: #fff;
  --border-color: #a3ff12;
  --color: #ffffff;
}

ion-label {
  padding-left: 10px;
  padding-right: 10px;
}

ion-toggle {
  height: 24px;
  zoom:0.8;
  --background: #162034;
  --background-checked: #a3ff12;
  --handle-background: #a3ff12;
  --handle-background-checked: #162034;
}

